*.sln
*.vcxproj
*.filters
*.user
*.recipe
*.ilk
*.log
*.obj
*.tlog
*.lastbuildstate
*.idb
*.pdb
_IsIncrementalBuild
*.suo
*.vsidx
*.db
*.ipch
*.exe
*.enc
*.lock
*.db-shm
*.db-wal
*.opendb
*.config
logs
*.pth

.vs
.cmake
.vscode
.idea
out
build
obj
x64
x86
Debug
Release
CMakePresets.json
CMakeUserPresets.json

C++/examples/FaceRecognition/FaceRecognition/picture/*
C++/examples/MusicPlayer/MusicPlayer/music/*
C++/examples/WebCrawler/WebCrawler/web.html

test/testCUDA/sources/*

Java/examples/Building-Structure-Management/webapp/images/*
Java/examples/Building-Structure-Management/webapp/scripts/artDialog/skins/*
Java/examples/Building-Structure-Management/webapp/scripts/My97DatePicker/skin/default/img.gif
Java/examples/Building-Structure-Management/webapp/scripts/My97DatePicker/skin/whyGreen/bg.jpg
Java/examples/Building-Structure-Management/webapp/scripts/My97DatePicker/skin/whyGreen/img.gif
Java/examples/Building-Structure-Management/webapp/scripts/My97DatePicker/skin/datePicker.gif
Java/examples/Building-Structure-Management/webapp/WEB-INF/lib/*
Java/workspace/web/BlackJack/web/images/*

Python/workspace/Precipitation-Nowcasting/hko_data/*
Python/workspace/Precipitation-Nowcasting/experiments/benchmark_stat/*
Python/workspace/Precipitation-Nowcasting/experiments/VarFlow/Data/*
Python/workspace/Precipitation-Nowcasting/experiments/VarFlow/build.sh
Python/workspace/Precipitation-Nowcasting/nowcasting.egg-info/*

eclipse-workspace/Servers/.settings/*
eclipse-workspace/Servers/Tomcat v9.0 Server at localhost-config/*
eclipse-workspace/Servers/.project
eclipse-workspace/SWT/.settings/*
eclipse-workspace/SWT/src/Minesweep/bgm.wav
eclipse-workspace/SWT/src/Minesweep/btn_begin.png
eclipse-workspace/SWT/src/Minesweep/btn_exit.png
eclipse-workspace/SWT/src/Minesweep/btn_history.png
eclipse-workspace/SWT/src/Minesweep/btn_story.png
eclipse-workspace/SWT/src/Minesweep/exit.png
eclipse-workspace/SWT/src/Minesweep/history.png
eclipse-workspace/SWT/src/Minesweep/homepage.png
eclipse-workspace/SWT/src/Minesweep/laoda.png
eclipse-workspace/SWT/src/Minesweep/logo.png
eclipse-workspace/SWT/src/Minesweep/man.wav
eclipse-workspace/SWT/src/Minesweep/manba out.wav
eclipse-workspace/SWT/src/Minesweep/showData.png
eclipse-workspace/SWT/src/Minesweep/story.png
eclipse-workspace/SWT/src/Minesweep/what can i say.wav
eclipse-workspace/SWT/src/Minesweep/win.wav
eclipse-workspace/SWT/src/SimpleOS/SimpleOS.iml
eclipse-workspace/SWT/utils/*
eclipse-workspace/SWT/.classpath
eclipse-workspace/SWT/.project
eclipse-workspace/Test/.settings/*
eclipse-workspace/Test/.classpath
eclipse-workspace/Test/.project
eclipse-workspace/Web/.settings/*
eclipse-workspace/Web/src/main/webapp/META-INF/*
eclipse-workspace/Web/.classpath
eclipse-workspace/Web/.project
