*.sln
*.vcxproj
*.filters
*.user
*.recipe
*.ilk
*.log
*.obj
*.tlog
*.lastbuildstate
*.idb
*.pdb
_IsIncrementalBuild
*.suo
*.vsidx
*.db
*.ipch
*.exe
*.enc
*.lock
*.db-shm
*.db-wal
*.opendb
*.config
*.bin
*.dtbcache.v2
*.futdcache.v2
*.deps.json
*.dll
*.runtimeconfig.json
*.assets.json
*.nuget.cache
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.assets.cache
*.csproj.BuildWithSkipAnalyzers
*.csproj.CoreCompileInputs.cache
*.csproj.FileListAbsolute.txt
*.genruntimeconfig.cache
*.sourcelink.json
*.name
*.xml
*.ninja_deps
*.ninja_log
*.ninja
*.cmake
*.cmake/api/v1/query/cache-v2
*.cmake/api/v1/query/cmakeFiles-v1
*.cmake/api/v1/query/codemodel-v2
*.cmake/api/v1/query/toolchains-v1
*.cmake/api/v1/reply/cache-v2-c72d4c4b2ad86b1f1c6c.json
*.cmake/api/v1/reply/cmakeFiles-v1-f1fea81b0d75d32ae12b.json
*.cmake/api/v1/reply/codemodel-v2-6228d4b5ba713e58e323.json
*.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
*.cmake/api/v1/reply/index-2024-04-21T11-33-16-0773.json
*.cmake/api/v1/reply/target-testC__-Debug-1fd0ce3429dc620582c0.json
*.cmake/api/v1/reply/toolchains-v1-39e2d5219df15344c45e.json
*CMakeFiles/clion-Debug-log.txt
*CMakeFiles/clion-environment.txt
*CMakeFiles/cmake.check_cache
*CMakeFiles/CMakeConfigureLog.yaml
*CMakeFiles/rules.ninja
*CMakeFiles/TargetDirectories.txt
*CMakeFiles/3.28.1/CMakeCCompiler.cmake
*CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
*CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
*CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
*CMakeFiles/3.28.1/CMakeRCCompiler.cmake
*CMakeFiles/3.28.1/CMakeSystem.cmake
*CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
*CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
test/testC++/CMakeLists.txt
test/testC++/.idea/testC++.iml
test/testC++/cmake-build-debug/CMakeCache.txt
test/testC++/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
test/testC++/cmake-build-debug/CMakeFiles/clion-environment.txt
test/testC++/cmake-build-debug/CMakeFiles/cmake.check_cache
test/testC++/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
test/testC++/cmake-build-debug/CMakeFiles/TargetDirectories.txt
test/testC++/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
test/testC++/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
test/testWeb/.idea/testWeb.iml
